<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Custom Barthelme Jamo</h2>
            <h3 class="oe_slogan">Customer related changes</h3>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Translations</h2>
        <div class="oe_span6">
            <p class="oe_mt32">
                Customized german translations of following fields:
            <ul>
                <li>carrier_id</li>
                <li>requested_date</li>
                <li>effective_date</li>
                <li>commitment_date</li>
                <li>confirmation_date</li>
                <li>date (module: sale)</li>
            </ul>
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot"
                     src="screenshot-example.png" alt="Screenshot">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Additional fields on delivery note</h2>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot"
                     src="screenshot_stock_picking.png" alt="Screenshot">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
                <li>Reference Name</li>
                <li>Carrier Advice</li>
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Sale Order Tags</h2>
        <div class="oe_span6">
            <p class="oe_mt32">
                Ability to search by sale order tags on stock picking view
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot"
                     src="screenshot_stock_picking_search.png" alt="Screenshot">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">'End of Lifecycle' state for whole Category</h2>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot"
                     src="screenshot_product_category.png" alt="Screenshot">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
                Set the state of all products of a category to
                'End of Lifecycle' and ad asterisk to product name
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 oe_centered oe_muted">
            More information about Odoo Services of
            <a style="color:#6d57e0" href="https://jamotion.ch/"
               target="_blank">
                Jamotion GmbH here...</a>
        </div>
    </div>
</section>